/* initial padding, margin, 0 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonts */
body {
    font-family: 'Inter', sans-serif;
}

/* scroll smootl */
html {
    scroll-behavior: smooth;
}

/* text first work capital */
p, h1, small {
    text-transform: capitalize;
}

/* navbar area START */
.container {
    width: 100%;
    max-width: 1144px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.navbar-area {
    width: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    overflow: hidden;
}

.nav-left {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.nav-left h1 {
    font-weight: bold;
    font-size: 2.1rem;
}

.nav-items li {
    font-size: 1rem;
    line-height: 1rem;
    color: rgba(68, 81, 100, 1);
}

.nav-items-color {
    color: rgba(241, 101, 76, 1);
}

.nav-middle {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
}

.nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 0.6rem;
}

.login-btn {
    border: none;
    font-weight: 500;
    padding: 0.7rem 1rem;
    border-radius: 0.5rem;
    gap: 0.6rem;
    background-color: rgba(241, 101, 76, 1);
    color: rgba(255, 255, 255, 1);
}

.avatar-img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 2.5rem;
}

.nav-line {
    color: rgba(214, 218, 225, 1);
}

.nav-logo-color {
    color: rgba(241, 101, 76, 1);
}

.nav-logo-color1 {
    color: rgba(27, 37, 51, 1);
}

.nav-items-color {
    color: rgba(241, 101, 76, 1) !important;
}

/* navbar area END */

/* hero section area START*/
.hero-content {
    padding-top: 3.5rem;
    padding-bottom: 8.9rem;
    display: flex;
    align-items: center;
    justify-items: center;
    width: 100%;
    overflow: hidden;
    justify-content: space-between;
}

.hero-left {
    padding-top: 2.9rem;
}

.bg-color-bg-img {
    background-color: #f5f6f7;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: block;
}

.bg-color-bg-img::after {
    content: "";
    position: absolute;
    bottom: 7.2rem;
    left: 49.2%;
    width: 37.5rem;
    height: 25rem;
    background-image: url("..//images/Rectangle 1051.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    opacity: 1;
    filter: brightness(93%);
}

.bg-color-bg-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/bg-img.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.1;
    z-index: -1;
    filter: brightness(40%);
}

.hero-left h1 {
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 3.9rem;
}

.hero-left p {
    font-size: 0.9rem;
    line-height: 1.7rem;
    color: rgba(68, 81, 100, 1);
}

.hero-left button {
    background-color: rgba(241, 101, 76, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 0.5rem;
    padding-top: 0.9375rem;
    padding-right: 2rem;
    padding-bottom: 0.9375rem;
    padding-left: 2rem;
    border: none;
    font-weight: 31.25rem;
}

.immortalized {
    color: rgba(241, 101, 76, 1);
}

.memories {
    color: rgba(241, 101, 76, 1);
}

.hero-right {
    position: relative;
}

.hero-main-image img {
    width: 20rem;
    height: 27rem;
    display: block;
    border-radius: 0.4rem;
}

.hero-overlay-image {
    position: absolute;
    bottom: -3.6875rem;
    left: -10.5rem;
    background-repeat: no-repeat;
    padding-top: 10rem;
    background-image: url("..//images/Group.png");
}

.hero-overlay-image img {
    width: 12.5rem;
    height: 15.625rem;
    border-radius: 0.5rem;
}

/* hero section area END*/

/* section ClanBook area START*/
.clanbook-content {
    display: flex;
    width: 100%;
    align-items: center;
    justify-items: center;
    gap: 8.8rem;
    overflow: hidden;
    justify-content: space-between;
}

.clanBook-left {
    position: relative;
}

.clanBook-right p {
    color: rgba(68, 81, 100, 1);
    line-height: 1.3rem;
    font-size: 0.86rem;
    font-weight: 25rem;
}

.clanBook-right button {
    background-color: rgba(241, 101, 76, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 0.5rem;
    padding: 1rem 1rem;
    border: none;
    font-size: 0.875rem;
    font-weight: 31.25rem;
}

.frame {
    display: block;
}

.frame img {
    width: 26.25rem;
    height: 31.625rem;
    border-radius: 0.5rem;
}

.frame1 {
    position: absolute;
    padding-left: 16.5rem;
    bottom: 21rem;
}

.frame1 img {
    width: 14.375rem;
    height: 10.625rem;
    border-radius: 0.5rem;
}

.what-does-clanbook {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
}

.what-does-clanbook-p {
    text-align: center;
    color: rgba(68, 81, 100, 1);
    font-weight: 25rem;
    font-size: 1rem;
}

.what-does-clanbook-color {
    color: rgba(241, 101, 76, 1);
}

/* section ClanBook area END*/

/* join area START*/
.bg-cart-title {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}

.ClanBookTitle1 {
    color: rgba(241, 101, 76, 1);
}

.bg-card-area {
    background-color: rgba(255, 255, 255, 1);
    padding: 4.125rem;
    border-radius: 0.625rem;
}

.bg-area {
    background-color: rgba(241, 101, 76, 1) !important;
    padding: 4rem;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.bg-area::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/bg-img.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.1;
    z-index: -1;
}

.join-area-p-tag {
    text-align: center;
    color: rgba(68, 81, 100, 1);
    font-weight: 25rem;
    font-size: 0.9rem;
    line-height: 1.5rem;
}

.cta-button-center {
    text-align: center;
}

.cta-button-center button {
    background-color: rgba(241, 101, 76, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 0.5rem;
    padding: 1rem 1rem;
    border: none;
    font-size: 0.875rem;
    font-weight: 31.25rem;
}

/* join area END */

/* social media area START*/
.clanbooker-color {
    text-align: center;
    font-weight: bold;
    font-size: 2.5rem;
}

.clanbooker-p {
    text-align: center;
    color: rgba(68, 81, 100, 1);
    font-weight: 25rem;
    font-size: 1rem;
}

.media-card img {
    width: 5.5rem;
    height: 5.5rem;
}

.media-card {
    border: 0.0625rem solid #ddd;
    border-radius: 0.625rem;
    padding: 0.9375rem;
    background-color: rgba(249, 250, 252, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 9rem;
}

.social-media {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 2.2rem;
    overflow: hidden;
    justify-content: space-between;
}

/* social media area END*/

/* Our Clan Booker offer area START */
.clan-book-offer-bg {
    background-color: rgba(245, 246, 247, 1);
    border: 0.0625rem solid rgba(234, 236, 240, 1);
    padding-top: 3.125rem;
    padding-bottom: 4.375rem;
}

.clan-book-offer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.clan-book-offer-left {
    width: 40.625rem;
    height: 30rem;
    border-radius: 0.5rem;
    border: 0.0625rem solid rgba(234, 236, 240, 1);
    background-color: rgba(255, 255, 255, 1);
    padding-top: 1.6rem;
    padding-left: 2.5rem;
}

.clan-book-offer-left p {
    line-height: 3.125rem;
    color: rgba(68, 81, 100, 1);
}

.clan-book-offer-left button {
    background-color: rgba(241, 101, 76, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 0.5rem;
    padding: 1rem 1rem;
    border: none;
    line-height: 1rem;
    font-size: 1rem;
    font-weight: 500;
}

.clan-book-offer-color {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
}

.clan-book-offer-color1 {
    color: rgba(241, 101, 76, 1);
}

.clan-book-offer-color-p {
    text-align: center;
    color: rgba(68, 81, 100, 1);
    font-weight: 25rem;
    font-size: 1rem;
}

.containers-offers {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
}

.clan-book-offer-right {
    border-radius: 0.5rem;
    background-color: #ffffff;
    border: 0.0625rem solid #eaeaf0;
    width: 34.375rem;
    height: 9.375rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.offer-img1 {
    width: 4.6875rem;
    height: 3.5rem;
}

.offer-img2 {
    width: 4rem;
    height: 3.375rem;
}

.offer-img3 {
    width: 3.75rem;
    height: 3.6875rem;
}

.color-h2-offer {
    color: rgba(241, 101, 76, 1);
    font-size: 1.5rem;
}

.color-h2-offer-ebook {
    color: rgba(241, 101, 76, 1);
    font-size: 1.5rem;
    padding-right: 6.25rem;
}

.price-format-pdf {
    color: rgba(68, 81, 100, 1);
    font-size: 0.9rem;
    padding-right: 6.25rem;
}

.price {
    color: rgba(68, 81, 100, 1);
    font-size: 0.9rem;
}

.prices {
    font-size: 0.8rem;
    color: rgba(27, 37, 51, 1);
}

h2 {
    margin: 0;
}

.price {
    font-size: 0.8rem;
    color: rgba(68, 81, 100, 1);
}

.prices {
    font-size: 0.6rem;
    color: rgba(68, 81, 100, 1);
}

/* Our Clan Booker offer area END */

/* Let’s read ClanBookers area strat */
.lets-read {
    text-align: center;
    font-weight: bold;
    font-size: 2.5rem;
}

.comunity-say-color1 {
    color: rgba(68, 81, 100, 1);
}

.comunity-say-color {
    color: rgba(241, 101, 76, 1);
}

.review-flex {
    display: flex;
    gap: 1rem;
    text-align: center;
}

.review-text-top {
    padding-top: 0.5rem;
}

.review-text-top small {
    color: rgba(68, 81, 100, 1);
}

.next-previous {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.next-previous-card {
    background-color: rgba(245, 246, 247, 1);
    width: 22.1875rem;
    height: 20rem;
    border-radius: 1rem;
    padding: 1.375rem;
}

.man-profile-img {
    width: 3.75rem;
    height: 3.75rem;
    background-color: rgba(241, 101, 76, 1);
    border-radius: 2rem;
}

.review-content {
    line-height: 1.6rem;
    color: rgba(68, 81, 100, 1);
}

.button-center {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.cta-button1 {
    background-color: rgba(241, 101, 76, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    border: none;
    line-height: 1rem;
    font-size: 1rem;
    font-weight: 500;
}

.cta-button2 {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(27, 37, 51, 1);
    border: 0.0625rem solid rgba(234, 236, 240, 1);
    border-radius: 0.5rem;
    padding: 1rem 1rem;
    line-height: 1rem;
    font-size: 1rem;
    font-weight: 500;
}

.lets-p {
    text-align: center;
    color: rgba(68, 81, 100, 1);
    font-weight: 25rem;
    font-size: 1rem;
}

/* Let’s read ClanBookers area END */

/* footer area START */
.footer-clan-book {
    font-weight: bold;
    font-size: 1.9rem;
}

.footer-bg-color {
    background-color: rgba(245, 246, 247, 1);
    padding-top: 3rem;
    padding-bottom: 4rem;
    overflow: hidden;
}

.clan-footer-color {
    color: rgba(241, 101, 76, 1);
}

.oo-footer-color {
    color: rgba(241, 101, 76, 1);
}

.footer-subscribe-color {
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
    font-size: 1.2rem;
    padding-right: 6rem;
}

.footer-small-subscribe {
    color: rgba(234, 236, 240, 1);
    font-size: 0.7rem;
}

.footer-text-color {
    color: rgba(255, 255, 255, 1);
}

.footer-text-color a{
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    font-weight: bold;
}

.subscribe {
    display: flex;
    justify-content: space-between;
    background-color: rgba(241, 101, 76, 1);
    padding: 2rem;
    border-radius: 0.5rem;
    align-items: center;
}

.subscribe img {
    display: block;
    margin: auto;
}

.list-row-items li {
    list-style: none;
}

.footer-li li {
    color: rgba(68, 81, 100, 1);
}

.footer-titles {
    color: rgba(27, 37, 51, 1);
}

.footer-input-card {
    padding: 1rem;
    background-color: rgba(234, 236, 240, 1);
    border-radius: 0.625rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.cta-button {
    background-color: rgba(241, 101, 76, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    border: none;
    line-height: 1rem;
    font-size: 1rem;
    font-weight: 500;
}

.footer-sms-icon {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.footer-input-tag {
    border: none;
    outline: none;
    background-color: rgba(234, 236, 240, 1);
    padding: 0.875rem;
}

.footer-text {
    background-color: rgba(241, 101, 76, 1);
    color: white;
    padding: 1.25rem 1.875rem;
    text-align: center;
}

.list-row-items {
    display: flex;
    line-height: 2.2rem;
    justify-items: center;
    justify-content: space-between;
}

.social-media-icon {
    display: flex;
    gap: 1rem;
    padding-top: 0.625rem;
}

.my-name-color {
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
    font-size: 0.9375rem;
}

/* footer area END */